.manage-bookings {
    padding: 20px;
    max-width: 90%;
    margin: auto;
    height: 100vh;
    background-color: #f4f4f4;
}

h1 {
    margin-top: 10px;
    text-align: center;
}

table {
    width: 1400px;
    margin-right: 150px;
    margin-top: 200px;
    border-collapse: collapse;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

thead {
    background: #050CB3;
    color: white;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

td {
    color: #333;
}



@media (max-width: 768px) {
    table {
        display: block;
        overflow-x: auto;
    }
}
